
/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
}
/* Colors */
:root {
    --color-default: #212529;
    --color-primary: #ce1212;
    --color-secondary: #eee;
}
/*Swiper */
:root {
    --swiper-navigation-size: 44px;
}
/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body{
    font-family: var(--font-default);
    color:var(--color-default);
    background-color: var(--bs-body-bg);
}
span{
    font-family: var(--font-default);
    color:var(--color-primary);
}

/*header section */

.header-section img{
   display: block;
   margin:auto;
   padding-top: 5px;
   width:1090px;
   height: 600px;
}
/*testimonials */
.testimonials {
    font-style: italic;
    text-align: center;
    
    font-size: 26px;
    line-height: 2rem;
    margin:10px;
    padding:30px;
}
.header-section  .testimonials .attention{
    width: 100%;
    font-size:larger;
    background: none;
    background-color: #f8f9fa;
}
.testimonials .text-attention  {
    font-family: courier;
    color: #f05656;
}
.testimonials p{
    font-family:arial;
    font-size: 20px;
}
/*testimonials fa-quote*/
.testimonials .fa-quote-left, .fa-quote-right{
    color: #f05656;
}

.text-member{
    font-family: courier;
    color: #f05656;
    padding-top:0px;
    padding-bottom: 10px;
    letter-spacing: 1rem;    

}

.text-member span{
    color:#F7DC6F;
}

.text-his{
    font-family: courier;
    color: #f05656;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top:20px;
    letter-spacing: 1rem;    
}
.text-his span{
    color:#F7DC6F;
}
.mw-headline{
    font-style:italic;
    font-size:25px;
   
    
    cursor:pointer;
    color:var(--color-default);
}
.mw-headline:hover{
    border-bottom:2px solid #b6b6bf;
    transition:0.3s;
}

 p,b{
    font-family: Arial, Helvetica, sans-serif;
}

.music {
    padding-bottom: 100px;
}
footer .text-uppercase{
    font-family: courier;

}




